:root{
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
    --secondary-light-color: #B5DDFF;
    --light-text-color: #B5DDFF;
    --big-text-color: #FDC15F;
    --footer-color: #333333;
}

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}